#menu {
	width: 20%;
	padding: 20px;
	float: left;
	border: 1px solid black;
	background-color: #a0e2ff;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 15px;

}

a {
	color: black;
}

#page {
	width: 70%;
	display: block;
	float:right;
	vertical-align: top;
	margin-top: 40px;
	padding:20px;
}

img {
	width: 75%;
	display: block;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

#item {
	padding: 20px;
}

.small {
	width:30%;
}

.trip {
	margin:0 auto;
	width: 60%;

}

.lefty {
	margin-left: 0px;
}

.page p {
	text-align: center;
}

.lightbox .lb-image {

  border: 4px solid black !important;
}
