/*#menu {
	position:fixed;
	width: 10%;
	padding: 20px;
	float: left;
	border: 3px solid black;
	background-color: #a0e2ff;
	margin-top: 20px;
	margin-left: 10%;
	border-radius: 15px;
	text-transform: uppercase;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue';
}*/
body {
	font-family: 'Bookman Old Style';
	font-size: 15px;
	background-color: #fff6e8;
}

#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}


#menu {
	position:fixed;
	width: 225px;
	float: left;
	font-family: 'Bookman Old Style', 'Courier New';
	text-align: center;
	height: 97vh;
	/*background-color: #EADEDA;*/
	background-image: linear-gradient(to right, rgb(234, 222, 218), rgb(234, 222, 218), rgb(234, 222, 218), rgb(234, 222, 218), rgb(234, 222, 218), rgb(234, 222, 218), rgb(234, 222, 218, .0001));
	border-left: 3px solid rgb(130, 51, 41, 1);
}

#jacob p {
	font-size: 25px;
	margin-top: 10vh;
	margin-bottom: 8vh;
	margin-left: 5%;
	margin-right: 5%;
	color: #823329;
	font-weight: bold;
	text-transform: lowercase;
}

#jacob p:hover {
	color: #BFB8AD;
}

div #pages p {
	padding-top:10px;
	padding-bottom:10px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #998888;
	color: #EADEDA;
	border: 2px solid #998888;
	border-radius: 10px;
	font-weight: bold;
	font-size:15px;
}

div #pages {
	margin-left: 20px;
	margin-right: 20px;
}

#pages p:hover {
	background-color: #BFB8AD;
	font-weight: bold;
	border: 2px solid #823329;
	color: #823329;
}

a:hover {
	color: #003fff;
}

/*#menu li {
	margin: 10px;
	text-transform: uppercase;
}

#menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
}*/

a {
	color: #2b82ff;
	text-decoration: none;
}

img {
	width: 75%;
	display: block;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

#page {
	float: left;
	width: 500px;
	margin-left: 250px;
}


.item {

}

.small {
	width:50%;
}

.trip {
	float: left;
	margin-top: 10vh;
	margin-bottom: 30vh;
}

.lefty {
	margin-left: 0px;
}

#page p {
	text-align: center;
}

/* black loading screen for lightbox */

.lb-outerContainer {
	background-color:black !important;
}
.lb-loader {
	display:none !important;
}

.lightbox .lb-image {

  border: 4px solid black !important;
}

#img{
	width: auto !important;
}

.math {
	width: 85%;
	margin: auto;

}

.hidden {
    display:none;
}







@media only screen and (max-aspect-ratio: 3/4) {
	#menu {
		display: none;
		width: 0px;
	}

	#container {
		width: 100%;
		font-size: 30px;
	}

	#page {
		width: 100%;
		margin-left: 0px;
		padding-left: 30px;
		padding-right: 30px;
	}


	.topnav {
	  background-color: rgb(234, 222, 218);
	  position: relative;
	  font-family: 'Bookman Old Style', 'Courier New';
	  font-weight: bold;
	  color: #823329;
	}

	.topnav #myLinks {
	  display: none;
	}

	.topnav a {
	  color: #823329;
	  padding: 30px 30px;
	  text-decoration: none;
	  font-size: 50px;
	  display: block;
	}

	.topnav a.icon {
	  background: rgb(234, 222, 218);
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 0;
	}

	#myBtn {
	  display: none; /* Hidden by default */
	  position: fixed; /* Fixed/sticky position */
	  bottom: 30px; /* Place the button at the bottom of the page */
	  right: 30px; /* Place the button 30px from the right */
	  z-index: 99; /* Make sure it does not overlap */
	  border: none; /* Remove borders */
	  outline: none; /* Remove outline */
	  background-color: rgb(234, 222, 218); /* Set a background color */
	  color: #823329; /* Text color */
	  padding: 30px; /* Some padding */
	  border-radius: 20px; /* Rounded corners */
	  font-size: 50px; /* Increase font size */
	  font-family: 'Bookman Old Style','Courier New';
	  font-weight:bold;
	}

}



@media only screen and (min-aspect-ratio: 3/4) {
	.topnav {
		display: none;
	}

	#myBtn {
		display: none;
	}

	#mwarning {
		display: none;
	}
}

.rotate90 {
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);

       -o-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
       transform: rotate(90deg);
      }
      .rotate180 {
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       transform: rotate(180deg);
      }
      .rotate270 {
       -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
       -o-transform: rotate(270deg);
       -ms-transform: rotate(270deg);
       transform: rotate(270deg);
      }














/* Remove default bullets */
ul, #updates {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#updates li{
  margin: 0;
  padding: 5px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  font-size:10px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}