#menu {
	position:fixed;
	width: 10%;
	padding: 20px;
	float: left;
	border: 3px solid black;
	background-color: #a0e2ff;
	margin-top: 20px;
	margin-left: 10%;
	border-radius: 15px;
	text-transform: uppercase;
	font-family: Comic Sans MS;
}

a:hover {
	color: #003fff;
}

#menu li {
	margin: 10px;
	text-transform: uppercase;
}

#menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

a {
	color: #2b82ff;
	text-decoration: none;
}

img {
	width: 75%;
	display: block;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

#page {
	width: 60%;
	display: block;
	float:right;
	vertical-align: top;
	margin-top: 40px;
	padding:20px;
}


.item {
	padding: 20px;
}

.small {
	width:30%;
}

.trip {
	margin:0 auto;
	width: 60%;
	float: left;
}

.lefty {
	margin-left: 0px;
}

#page p {
	text-align: center;
}

/* black loading screen for lightbox */

.lb-outerContainer {
	background-color:black !important;
}
.lb-loader {
	display:none !important;
}

.lightbox .lb-image {

  border: 4px solid black !important;
}
